.news-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 700px;
    padding: 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    margin: 20px auto;
}

.news-card > h3 {
    font-size: 25px;
}

.news-card > p {
}

.news-card > span.author {
    font-size: 15px;
    font-weight: bold;
}
